/* Los estilos de tu proyecto */
.navbar {
	padding: 10px 0;
	background-color: white;
}

.navbar-default {
	border-bottom: 0;
}

.taxi {
	width: 100%;
	height: auto;
	background-image: url(../assets/images/taxi.jpg);
	background-position: 8% 92%;
	background-size: cover;
	background-repeat: no-repeat;
}

#sign-in {
	width: 100%;
	height: auto;
	background-color: #F7B617;
	color: white;
	padding: 30px;
	margin: 140px 0;
	justify-content: right;
}

#sign-in h1 {
padding-bottom: 20px;
font-weight: bold;
}

#sign-in p {
	font-size: 20px;
	padding-bottom: 10px;
}

.btn {
	font-weight: bold;
	margin: 10px 0;
	border: none;
}


#input {
	padding: 20px 0;
}

#input input {
	background-color: #F7B617;
	border: none;
	border-bottom: 2px solid white;
}

#input p {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.phone {
	width: 100%;
	height: auto;
	background-color: #F7B617;
}

#iphone {
	margin: 50px 0;
	border: 1px solid white;
	color: white;
}

#iphone h4 {
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

#iphone img {
	padding: 20px;
}

#phone-text {
	padding: 20px;
}

#phone-text p {
	font-size: 17px;
}

.fast {
	color: white;
}

.driver {
	width: 100%;
	height: auto;
	background-image: url(../assets/images/conduce.jpg);
	background-size: cover;
	background-position: 40% 60%;
	background-repeat: no-repeat;
	color: white;
}

#box-driver {
	background-color: rgba(0,0,0,0.34);
	background-size: 100%;
	padding: 200px 40px;
}

#box-driver a{
	background-color: #F7B617;
	border: none;
	color: white;
	padding: 10px;
}

.map {
	width: 100%;
	height: auto;
	background-color: #F7B617;
	color: white;
	padding: 50px;
}

.map p {
	font-size: 18px;
}

.map button {
	text-align: center;
	padding: 10px 20px;
	margin: 20px 0;
}

.shape {
	padding-left: 0;
	margin: 20px;
}

.shape input {
	width: 80%;
	background-color: #F7B617;
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
}

.img-shape {
	padding: 10px 10px 20px 0;
}

.thumbnail {
	height: auto;
	background-color: #F7B617;
	padding: 10px;
	margin-left: 40px;
	border-radius: 0;
}

.footer {
	width: 100%;
	height: auto;
	background-color: #2B2B2B;
	color: white;
}

.logo-footer {
	padding-top: 30px;
}

#list li{
	line-height: 30px;
	list-style: none;
	font-weight: bold;
}

.footer img {
	padding: 10px 0;
	background-position: bottom;
}

.footer p {
	padding-bottom: 30px;
}

.icons-xs {
	padding: 20px;
}

/*modal*/

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.log-in {
	margin-left: 165px;
}

.form-control {
	margin-bottom: 10px;
}



